* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    height: 100vw;

}
footer {
    height: 103px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:blueviolet;
}
footer h1 {
    width: 540px;
    height: 63px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    padding-top: 20px;
}

main {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;

}
.container {
    width: 70%;
    height: 40%;
    background-color: aqua;
    display: flex;
    padding: 10px 5px;
    flex-wrap: wrap;
    justify-content: center;
}

main .card {
    max-width: 117px;
    height: 146px;
    /*position: relative;*/
    margin: 10px 10px;
}

.face {
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

main .card .front-face .front-img {
    width: 100px;
    height: 100px;
    object-fit: contain;

}
main .card .back-face .back-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

main .card .back-face {
    transform: rotateY(180deg);
  }

  .card:hover .back-face {
    transform: rotateY(0deg);
  }

  .card:hover .front-face {
    transform: rotateY(-180deg);
  }

  .esconder {
    display: none;
  }